<li class="EatBurger {{this.id}}">
	{{this.burger_name}}

	<button class="change-devour" data-id="{{this.id}}" data-devoured"{{this.devoured}}">
		{{#if devoured}}Get In My Belly!{{else}} Scrap it {{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Scrap The Burger</button>
</li>
