<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devoured}}GET In My Belly!{{else}}Not Hungry...{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Not Hungry...</button>
</li>
