<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newDevour"{{devour}}">
		{{#if devour}}GET In My Belly!{{else}}Not Hungry...{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Compost It</button>
</li>
